.inlineImage{
    width: 20px;
    height: 30px;
}
#root{
    background-image: linear-gradient(to bottom right, tomato, firebrick, darkred);
}
footer{
    background-color: white;
    font-size: 30px;
}